body {
  font-family: 'Source Sans Pro', 'Helvetica Neue','sans-serif';
}
$red: #b62222;
$green: #519b00;
@mixin move {
  transition: all 0.3s ease-out;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 132px;
  height: 40px;
  background-color: $red;
  border-radius: 30px;
  cursor: pointer;
  @include move;
  &::before {
    content: '';
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 3px;
    right: 4px;
    @include move;
  }
  &::after {
    content: attr(data-deny);
    color: white;
    position: absolute;
    top: 6px;
    left: 18px;
    font-size: 20px;
    font-weight: 300;
    @include move;
  }
}
input[type="checkbox"]:checked + label {
  background-color: $green;
  &::before {
    right: 94px;
  }
  &::after {
    content: attr(data-permit);
    left: 56px;
  }
}
